/* .potColor-text--red {
    color: #E8384F
}
.potColor-text--red.color-friendly-mode {
    color: #e8384f
}
.potColor-text--red:hover {
    color: #ed6677
}
.potColor-text--red:hover.color-friendly-mode {
    color: #ed6677
}
.potColor-background--red {
    background-color: #E8384F;
    color: white
}
.potColor-background--red.color-friendly-mode {
    background-color: #e8384f
}
.potColor-background--red:hover {
    background-color: #ed6677;
    color: white
}
.potColor-background--red:hover.color-friendly-mode {
    background-color: #ed6677
}
.potColor-nonClickableBackground--red {
    background-color: #E8384F;
    color: white
}
.potColor-nonClickableBackground--red.color-friendly-mode {
    background-color: #e8384f
}
.potColor-leftBorder--red {
    border-left: 3px solid #E8384F
}
.potColor-leftBorder--red.color-friendly-mode {
    border-left: 3px solid #e8384f
}
.potColor-leftBorder--red:hover {
    border-left-color: transparent
}
.potColor-text--orange {
    color: #FD612C
}
.potColor-text--orange.color-friendly-mode {
    color: #fd817d
}
.potColor-text--orange:hover {
    color: #fd875f
}
.potColor-text--orange:hover.color-friendly-mode {
    color: #feb2af
}
.potColor-background--orange {
    background-color: #FD612C;
    color: white
}
.potColor-background--orange.color-friendly-mode {
    background-color: #fd817d
}
.potColor-background--orange:hover {
    background-color: #fd875f;
    color: white
}
.potColor-background--orange:hover.color-friendly-mode {
    background-color: #feb2af
}
.potColor-nonClickableBackground--orange {
    background-color: #FD612C;
    color: white
}
.potColor-nonClickableBackground--orange.color-friendly-mode {
    background-color: #fd817d
}
.potColor-leftBorder--orange {
    border-left: 3px solid #FD612C
}
.potColor-leftBorder--orange.color-friendly-mode {
    border-left: 3px solid #fd817d
}
.potColor-leftBorder--orange:hover {
    border-left-color: transparent
}
.potColor-text--yellow-orange {
    color: #FD9A00
}
.potColor-text--yellow-orange.color-friendly-mode {
    color: #fdae33
}
.potColor-text--yellow-orange:hover {
    color: #ffae31
}
.potColor-text--yellow-orange:hover.color-friendly-mode {
    color: #fdc266
}
.potColor-background--yellow-orange {
    background-color: #FD9A00;
    color: white
}
.potColor-background--yellow-orange.color-friendly-mode {
    background-color: #fdae33
}
.potColor-background--yellow-orange:hover {
    background-color: #ffae31;
    color: white
}
.potColor-background--yellow-orange:hover.color-friendly-mode {
    background-color: #fdc266
}
.potColor-nonClickableBackground--yellow-orange {
    background-color: #FD9A00;
    color: white
}
.potColor-nonClickableBackground--yellow-orange.color-friendly-mode {
    background-color: #fdae33
}
.potColor-leftBorder--yellow-orange {
    border-left: 3px solid #FD9A00
}
.potColor-leftBorder--yellow-orange.color-friendly-mode {
    border-left: 3px solid #fdae33
}
.potColor-leftBorder--yellow-orange:hover {
    border-left-color: transparent
}
.potColor-text--yellow {
    color: #EEC300
}
.potColor-text--yellow.color-friendly-mode {
    color: #eecc16
}
.potColor-text--yellow:hover {
    color: #ffd722
}
.potColor-text--yellow:hover.color-friendly-mode {
    color: #f1d646
}
.potColor-background--yellow {
    background-color: #EEC300;
    color: white
}
.potColor-background--yellow.color-friendly-mode {
    background-color: #eecc16
}
.potColor-background--yellow:hover {
    background-color: #ffd722;
    color: white
}
.potColor-background--yellow:hover.color-friendly-mode {
    background-color: #f1d646
}
.potColor-nonClickableBackground--yellow {
    background-color: #EEC300;
    color: white
}
.potColor-nonClickableBackground--yellow.color-friendly-mode {
    background-color: #eecc16
}
.potColor-leftBorder--yellow {
    border-left: 3px solid #EEC300
}
.potColor-leftBorder--yellow.color-friendly-mode {
    border-left: 3px solid #eecc16
}
.potColor-leftBorder--yellow:hover {
    border-left-color: transparent
}
.potColor-text--yellow-green {
    color: #A4CF30
}
.potColor-text--yellow-green.color-friendly-mode {
    color: #a4c61a
}
.potColor-text--yellow-green:hover {
    color: #b6d959
}
.potColor-text--yellow-green:hover.color-friendly-mode {
    color: #c0e42f
}
.potColor-background--yellow-green {
    background-color: #A4CF30;
    color: white
}
.potColor-background--yellow-green.color-friendly-mode {
    background-color: #a4c61a
}
.potColor-background--yellow-green:hover {
    background-color: #b6d959;
    color: white
}
.potColor-background--yellow-green:hover.color-friendly-mode {
    background-color: #c0e42f
}
.potColor-nonClickableBackground--yellow-green {
    background-color: #A4CF30;
    color: white
}
.potColor-nonClickableBackground--yellow-green.color-friendly-mode {
    background-color: #a4c61a
}
.potColor-leftBorder--yellow-green {
    border-left: 3px solid #A4CF30
}
.potColor-leftBorder--yellow-green.color-friendly-mode {
    border-left: 3px solid #a4c61a
}
.potColor-leftBorder--yellow-green:hover {
    border-left-color: transparent
}
.potColor-text--green {
    color: #62D26F
}
.potColor-text--green.color-friendly-mode {
    color: #62bb35
}
.potColor-text--green:hover {
    color: #8add93
}
.potColor-text--green:hover.color-friendly-mode {
    color: #7dcf54
}
.potColor-background--green {
    background-color: #62D26F;
    color: white
}
.potColor-background--green.color-friendly-mode {
    background-color: #62bb35
}
.potColor-background--green:hover {
    background-color: #8add93;
    color: white
}
.potColor-background--green:hover.color-friendly-mode {
    background-color: #7dcf54
}
.potColor-nonClickableBackground--green {
    background-color: #62D26F;
    color: white
}
.potColor-nonClickableBackground--green.color-friendly-mode {
    background-color: #62bb35
}
.potColor-leftBorder--green {
    border-left: 3px solid #62D26F
}
.potColor-leftBorder--green.color-friendly-mode {
    border-left: 3px solid #62bb35
}
.potColor-leftBorder--green:hover {
    border-left-color: transparent
}
.potColor-text--blue-green {
    color: #37C5AB
}
.potColor-text--blue-green.color-friendly-mode {
    color: #37a862
}
.potColor-text--blue-green:hover {
    color: #5dd2bc
}
.potColor-text--blue-green:hover.color-friendly-mode {
    color: #4dc57b
}
.potColor-background--blue-green {
    background-color: #37C5AB;
    color: white
}
.potColor-background--blue-green.color-friendly-mode {
    background-color: #37a862
}
.potColor-background--blue-green:hover {
    background-color: #5dd2bc;
    color: white
}
.potColor-background--blue-green:hover.color-friendly-mode {
    background-color: #4dc57b
}
.potColor-nonClickableBackground--blue-green {
    background-color: #37C5AB;
    color: white
}
.potColor-nonClickableBackground--blue-green.color-friendly-mode {
    background-color: #37a862
}
.potColor-leftBorder--blue-green {
    border-left: 3px solid #37C5AB
}
.potColor-leftBorder--blue-green.color-friendly-mode {
    border-left: 3px solid #37a862
}
.potColor-leftBorder--blue-green:hover {
    border-left-color: transparent
}
.potColor-text--aqua {
    color: #20AAEA
}
.potColor-text--aqua.color-friendly-mode {
    color: #208ea3
}
.potColor-text--aqua:hover {
    color: #4fbcee
}
.potColor-text--aqua:hover.color-friendly-mode {
    color: #28b3ce
}
.potColor-background--aqua {
    background-color: #20AAEA;
    color: white
}
.potColor-background--aqua.color-friendly-mode {
    background-color: #208ea3
}
.potColor-background--aqua:hover {
    background-color: #4fbcee;
    color: white
}
.potColor-background--aqua:hover.color-friendly-mode {
    background-color: #28b3ce
}
.potColor-nonClickableBackground--aqua {
    background-color: #20AAEA;
    color: white
}
.potColor-nonClickableBackground--aqua.color-friendly-mode {
    background-color: #208ea3
}
.potColor-leftBorder--aqua {
    border-left: 3px solid #20AAEA
}
.potColor-leftBorder--aqua.color-friendly-mode {
    border-left: 3px solid #208ea3
}
.potColor-leftBorder--aqua:hover {
    border-left-color: transparent
}
.potColor-text--blue {
    color: #4186E0
}
.potColor-text--blue.color-friendly-mode {
    color: #4178bc
}
.potColor-text--blue:hover {
    color: #6da2e7
}
.potColor-text--blue:hover.color-friendly-mode {
    color: #6693ca
}
.potColor-background--blue {
    background-color: #4186E0;
    color: white
}
.potColor-background--blue.color-friendly-mode {
    background-color: #4178bc
}
.potColor-background--blue:hover {
    background-color: #6da2e7;
    color: white
}
.potColor-background--blue:hover.color-friendly-mode {
    background-color: #6693ca
}
.potColor-nonClickableBackground--blue {
    background-color: #4186E0;
    color: white
}
.potColor-nonClickableBackground--blue.color-friendly-mode {
    background-color: #4178bc
}
.potColor-leftBorder--blue {
    border-left: 3px solid #4186E0
}
.potColor-leftBorder--blue.color-friendly-mode {
    border-left: 3px solid #4178bc
}
.potColor-leftBorder--blue:hover {
    border-left-color: transparent
}
.potColor-text--indigo {
    color: #7A6FF0
}
.potColor-text--indigo.color-friendly-mode {
    color: #7a71f6
}
.potColor-text--indigo:hover {
    color: #a59df5
}
.potColor-text--indigo:hover.color-friendly-mode {
    color: #a7a1f9
}
.potColor-background--indigo {
    background-color: #7A6FF0;
    color: white
}
.potColor-background--indigo.color-friendly-mode {
    background-color: #7a71f6
}
.potColor-background--indigo:hover {
    background-color: #a59df5;
    color: white
}
.potColor-background--indigo:hover.color-friendly-mode {
    background-color: #a7a1f9
}
.potColor-nonClickableBackground--indigo {
    background-color: #7A6FF0;
    color: white
}
.potColor-nonClickableBackground--indigo.color-friendly-mode {
    background-color: #7a71f6
}
.potColor-leftBorder--indigo {
    border-left: 3px solid #7A6FF0
}
.potColor-leftBorder--indigo.color-friendly-mode {
    border-left: 3px solid #7a71f6
}
.potColor-leftBorder--indigo:hover {
    border-left-color: transparent
}
.potColor-text--purple {
    color: #AA62E3
}
.potColor-text--purple.color-friendly-mode {
    color: #aa71ff
}
.potColor-text--purple:hover {
    color: #c18deb
}
.potColor-text--purple:hover.color-friendly-mode {
    color: #c9a4ff
}
.potColor-background--purple {
    background-color: #AA62E3;
    color: white
}
.potColor-background--purple.color-friendly-mode {
    background-color: #aa71ff
}
.potColor-background--purple:hover {
    background-color: #c18deb;
    color: white
}
.potColor-background--purple:hover.color-friendly-mode {
    background-color: #c9a4ff
}
.potColor-nonClickableBackground--purple {
    background-color: #AA62E3;
    color: white
}
.potColor-nonClickableBackground--purple.color-friendly-mode {
    background-color: #aa71ff
}
.potColor-leftBorder--purple {
    border-left: 3px solid #AA62E3
}
.potColor-leftBorder--purple.color-friendly-mode {
    border-left: 3px solid #aa71ff
}
.potColor-leftBorder--purple:hover {
    border-left-color: transparent
}
.potColor-text--magenta {
    color: #E362E3
}
.potColor-text--magenta.color-friendly-mode {
    color: #e37cff
}
.potColor-text--magenta:hover {
    color: #eb8deb
}
.potColor-text--magenta:hover.color-friendly-mode {
    color: #eeafff
}
.potColor-background--magenta {
    background-color: #E362E3;
    color: white
}
.potColor-background--magenta.color-friendly-mode {
    background-color: #e37cff
}
.potColor-background--magenta:hover {
    background-color: #eb8deb;
    color: white
}
.potColor-background--magenta:hover.color-friendly-mode {
    background-color: #eeafff
}
.potColor-nonClickableBackground--magenta {
    background-color: #E362E3;
    color: white
}
.potColor-nonClickableBackground--magenta.color-friendly-mode {
    background-color: #e37cff
}
.potColor-leftBorder--magenta {
    border-left: 3px solid #E362E3
}
.potColor-leftBorder--magenta.color-friendly-mode {
    border-left: 3px solid #e37cff
}
.potColor-leftBorder--magenta:hover {
    border-left-color: transparent
}
.potColor-text--hot-pink {
    color: #EA4E9D
}
.potColor-text--hot-pink.color-friendly-mode {
    color: #ea4e9d
}
.potColor-text--hot-pink:hover {
    color: #ef7cb6
}
.potColor-text--hot-pink:hover.color-friendly-mode {
    color: #ef7cb6
}
.potColor-background--hot-pink {
    background-color: #EA4E9D;
    color: white
}
.potColor-background--hot-pink.color-friendly-mode {
    background-color: #ea4e9d
}
.potColor-background--hot-pink:hover {
    background-color: #ef7cb6;
    color: white
}
.potColor-background--hot-pink:hover.color-friendly-mode {
    background-color: #ef7cb6
}
.potColor-nonClickableBackground--hot-pink {
    background-color: #EA4E9D;
    color: white
}
.potColor-nonClickableBackground--hot-pink.color-friendly-mode {
    background-color: #ea4e9d
}
.potColor-leftBorder--hot-pink {
    border-left: 3px solid #EA4E9D
}
.potColor-leftBorder--hot-pink.color-friendly-mode {
    border-left: 3px solid #ea4e9d
}
.potColor-leftBorder--hot-pink:hover {
    border-left-color: transparent
}
.potColor-text--pink {
    color: #FC91AD
}
.potColor-text--pink.color-friendly-mode {
    color: #fca7e4
}
.potColor-text--pink:hover {
    color: #fdc3d2
}
.potColor-text--pink:hover.color-friendly-mode {
    color: #fed8f3
}
.potColor-background--pink {
    background-color: #FC91AD;
    color: white
}
.potColor-background--pink.color-friendly-mode {
    background-color: #fca7e4
}
.potColor-background--pink:hover {
    background-color: #fdc3d2;
    color: white
}
.potColor-background--pink:hover.color-friendly-mode {
    background-color: #fed8f3
}
.potColor-nonClickableBackground--pink {
    background-color: #FC91AD;
    color: white
}
.potColor-nonClickableBackground--pink.color-friendly-mode {
    background-color: #fca7e4
}
.potColor-leftBorder--pink {
    border-left: 3px solid #FC91AD
}
.potColor-leftBorder--pink.color-friendly-mode {
    border-left: 3px solid #fca7e4
}
.potColor-leftBorder--pink:hover {
    border-left-color: transparent
}
.potColor-text--cool-gray {
    color: #8DA3A6
}
.potColor-text--cool-gray.color-friendly-mode {
    color: #8d9f9b
}
.potColor-text--cool-gray:hover {
    color: #aababc
}
.potColor-text--cool-gray:hover.color-friendly-mode {
    color: #a9b6b3
}
.potColor-background--cool-gray {
    background-color: #8DA3A6;
    color: white
}
.potColor-background--cool-gray.color-friendly-mode {
    background-color: #8d9f9b
}
.potColor-background--cool-gray:hover {
    background-color: #aababc;
    color: white
}
.potColor-background--cool-gray:hover.color-friendly-mode {
    background-color: #a9b6b3
}
.potColor-nonClickableBackground--cool-gray {
    background-color: #8DA3A6;
    color: white
}
.potColor-nonClickableBackground--cool-gray.color-friendly-mode {
    background-color: #8d9f9b
}
.potColor-leftBorder--cool-gray {
    border-left: 3px solid #8DA3A6
}
.potColor-leftBorder--cool-gray.color-friendly-mode {
    border-left: 3px solid #8d9f9b
}
.potColor-leftBorder--cool-gray:hover {
    border-left-color: transparent
}
.potColor-text--NONE {
    color: #898E95
}
.potColor-background--NONE {
    background-color: #EFF0F1;
    color: #898E95
}
.potColor-background--NONE:hover {
    background-color: #E1E2E4;
    color: #898E95
}
.potColor-leftBorder--NONE {
    border-left: 3px solid transparent
} */
/*@font-face {
    font-family: 'haptik';
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/713fa3a195f429093a8d49ed3bf4e8e028527eb0/GT-Haptik-Regular.eot');
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/713fa3a195f429093a8d49ed3bf4e8e028527eb0/GT-Haptik-Regular.eot#iefix') format('embedded-opentype'), url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/6459df964728e7e24225d0bd34d339ec69b78ffd/GT-Haptik-Regular.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'proxima-nova';
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/bb74ad96852359f6dc90ebfc50d469dd8049f758/ProximaNova-ThinWeb.eot');
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/bb74ad96852359f6dc90ebfc50d469dd8049f758/ProximaNova-ThinWeb.eot#iefix') format('embedded-opentype'), url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/084a894bbd8706d0cbf807a4dc4599c620ad9880/ProximaNova-ThinWeb.woff') format('woff');
    font-weight: 200;
}
@font-face {
    font-family: 'proxima-nova';
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/dd7728e9457a4fb3ca5cb820ea67ae686fc031fd/ProximaNova-LightWeb.eot');
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/dd7728e9457a4fb3ca5cb820ea67ae686fc031fd/ProximaNova-LightWeb.eot#iefix') format('embedded-opentype'), url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/4b32e816879bd81c207fac64aa05ff2144304ced/ProximaNova-LightWeb.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'proxima-nova';
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/57b041eaff7dcecdb2b0aba9bf46adad6b2dc173/ProximaNova-RegWeb.eot');
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/57b041eaff7dcecdb2b0aba9bf46adad6b2dc173/ProximaNova-RegWeb.eot#iefix') format('embedded-opentype'), url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/94054e2964ef3cd903af2146553ba83373464472/ProximaNova-RegWeb.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'proxima-nova';
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/d9012e698d8b8bcfa45ce52e6ea3a325cac5a716/ProximaNova-SboldWeb.eot');
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/d9012e698d8b8bcfa45ce52e6ea3a325cac5a716/ProximaNova-SboldWeb.eot#iefix') format('embedded-opentype'), url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/a1acbe88376c27142bc9e0b90e5f04a0efc03a85/ProximaNova-SboldWeb.woff') format('woff');
    font-weight: 600;
}
@font-face {
    font-family: 'proxima-nova';
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/b13d8032a1de59a2748bc1b4c20124916574ae7a/ProximaNova-BoldWeb.eot');
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/b13d8032a1de59a2748bc1b4c20124916574ae7a/ProximaNova-BoldWeb.eot#iefix') format('embedded-opentype'), url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/79c996a8a57525f38180031e641452ad2b2be11f/ProximaNova-BoldWeb.woff') format('woff');
    font-weight: 700;
}
@font-face {
    font-family: 'proxima-nova';
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/cd6da7d4134c513f8b22a5a6b8449371ed4228b6/ProximaNova-XboldWeb.eot');
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/cd6da7d4134c513f8b22a5a6b8449371ed4228b6/ProximaNova-XboldWeb.eot#iefix') format('embedded-opentype'), url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/79c4ecafa1dec92609f91bb6d381ef08a024ca1b/ProximaNova-XboldWeb.woff') format('woff');
    font-weight: 800;
}
@font-face {
    font-family: 'proxima-nova-cond';
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/3284b69aec7641498c5188749e0de147e834043e/ProximaNovaCond-RegWeb.eot');
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/3284b69aec7641498c5188749e0de147e834043e/ProximaNovaCond-RegWeb.eot#iefix') format('embedded-opentype'), url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/9db303d3d32bc87dd70f5f88e590ccd5173ec73b/ProximaNovaCond-RegWeb.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'proxima-nova-cond';
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/80a20cb525b5816dcaa31a78af2b8299ffc8386e/ProximaNovaCond-SboldWeb.eot');
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/80a20cb525b5816dcaa31a78af2b8299ffc8386e/ProximaNovaCond-SboldWeb.eot#iefix') format('embedded-opentype'), url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/c322785bc9d9d098131644977182fb390f307fc4/ProximaNovaCond-SboldWeb.woff') format('woff');
    font-weight: 600;
}
@font-face {
    font-family: 'proxima-nova-cond';
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/e81b57f6d25d7bbfa96591023f3a63e8f44b4abb/ProximaNovaCond-BoldWeb.eot');
    src: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/e81b57f6d25d7bbfa96591023f3a63e8f44b4abb/ProximaNovaCond-BoldWeb.eot#iefix') format('embedded-opentype'), url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/a2a4d17e4cbb56d49202ea3d55cedf762b226797/ProximaNovaCond-BoldWeb.woff') format('woff');
    font-weight: 700;
}*/
@-webkit-keyframes hold-opacity {
    0% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes hold-opacity {
    0% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}
@keyframes hold-opacity {
    0% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes fadeout {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@-moz-keyframes fadeout {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes fadeout {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@-webkit-keyframes reset-opacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@-moz-keyframes reset-opacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@keyframes reset-opacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes grow-1-to-3_5 {
    0% {
        max-height: 1em
    }
    100% {
        max-height: 3.5em
    }
}
@-moz-keyframes grow-1-to-3_5 {
    0% {
        max-height: 1em
    }
    100% {
        max-height: 3.5em
    }
}
@keyframes grow-1-to-3_5 {
    0% {
        max-height: 1em
    }
    100% {
        max-height: 3.5em
    }
}
@-webkit-keyframes input-outline-glow {
    0% {
        border-color: #02CEFF;
        box-shadow: inset 0 0 1px #1AAFD0;
        -moz-box-shadow: inset 0 0 1px #1AAFD0;
        -webkit-box-shadow: inset 0 0 1px #1AAFD0
    }
    40% {
        box-shadow: inset 0 0 2px #1AAFD0;
        -moz-box-shadow: inset 0 0 2px #1AAFD0;
        -webkit-box-shadow: inset 0 0 2px #1AAFD0
    }
    100% {
        border-color: #A1A4AA;
        box-shadow: inset 0 1px 0 #E1E2E4;
        -moz-box-shadow: inset 0 1px 0 #E1E2E4;
        -webkit-box-shadow: inset 0 1px 0 #E1E2E4
    }
}
@-moz-keyframes input-outline-glow {
    0% {
        border-color: #02CEFF;
        box-shadow: inset 0 0 1px #1AAFD0;
        -moz-box-shadow: inset 0 0 1px #1AAFD0;
        -webkit-box-shadow: inset 0 0 1px #1AAFD0
    }
    40% {
        box-shadow: inset 0 0 2px #1AAFD0;
        -moz-box-shadow: inset 0 0 2px #1AAFD0;
        -webkit-box-shadow: inset 0 0 2px #1AAFD0
    }
    100% {
        border-color: #A1A4AA;
        box-shadow: inset 0 1px 0 #E1E2E4;
        -moz-box-shadow: inset 0 1px 0 #E1E2E4;
        -webkit-box-shadow: inset 0 1px 0 #E1E2E4
    }
}
@keyframes input-outline-glow {
    0% {
        border-color: #02CEFF;
        box-shadow: inset 0 0 1px #1AAFD0;
        -moz-box-shadow: inset 0 0 1px #1AAFD0;
        -webkit-box-shadow: inset 0 0 1px #1AAFD0
    }
    40% {
        box-shadow: inset 0 0 2px #1AAFD0;
        -moz-box-shadow: inset 0 0 2px #1AAFD0;
        -webkit-box-shadow: inset 0 0 2px #1AAFD0
    }
    100% {
        border-color: #A1A4AA;
        box-shadow: inset 0 1px 0 #E1E2E4;
        -moz-box-shadow: inset 0 1px 0 #E1E2E4;
        -webkit-box-shadow: inset 0 1px 0 #E1E2E4
    }
}
.c {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row
}
/* .flexbox-column {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column
}
.flexbox-flexes-in-column {
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    min-height: 1px
}
.flexbox-flexes-in-row {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 1px
} */
/* .private-link-closed-lock {
    background-image: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/6c1137f8de518ca3c9a268ec2b28176e12ec08e8/lock_icon_blue_12p.svg');
    background-repeat: no-repeat;
    height: 12px;
    margin-bottom: 5px;
    vertical-align: bottom;
    width: 12px
}
.emoji {
    background-image: url("https://d3ki9tyy5l5ruj.cloudfront.net/obj/d7bd22d3ac1d483dd5607b9986e10323e53290ce/sheet_64.png");
    background-repeat: no-repeat;
    background-size: 4100%;
    display: inline-block;
    height: 16px;
    margin-bottom: -3px;
    width: 16px
} */
.buttonView:active,
.buttonView.is-active {
    -webkit-transition: background 200ms, border 200ms, box-shadow 200ms, color 200ms, background 200ms, border 200ms, box-shadow 75ms, color 200ms;
    -moz-transition: background 200ms, border 200ms, box-shadow 200ms, color 200ms, background 200ms, border 200ms, box-shadow 75ms, color 200ms;
    transition: background 200ms, border 200ms, box-shadow 200ms, color 200ms, background 200ms, border 200ms, box-shadow 75ms, color 200ms
}
.buttonView.buttonView--primary:focus,
.buttonView.buttonView--primary:hover {
    background: #062f4f;
    border-color: #062f4f;
    box-shadow: inset 0 0 transparent, 0 0 0 3px #062f4f;
    -moz-box-shadow: inset 0 0 transparent, 0 0 0 3px #062f4f;
    -webkit-box-shadow: inset 0 0 transparent, 0 0 0 3px #062f4f
}
.buttonView.buttonView--primary:active,
.buttonView.buttonView--primary.is-active {
    background: #062f4f;
    border-color: #062f4f
}
.buttonView.buttonView--primary.is-disabled {
    box-shadow: inset 0 0 transparent, 0 0 0 0 transparent;
    -moz-box-shadow: inset 0 0 transparent, 0 0 0 0 transparent;
    -webkit-box-shadow: inset 0 0 transparent, 0 0 0 0 transparent;
    cursor: default
}

.buttonView.buttonView--secondary:active,
.buttonView.buttonView--secondary.is-active {
    background: #F8F8F9;
    border: 1px solid #1AAFD0;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.1), 0 0 0 0 transparent;
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.1), 0 0 0 0 transparent;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.1), 0 0 0 0 transparent;
    color: #1AAFD0;
    fill: #1AAFD0
}
.buttonView.buttonView--secondary.is-disabled {
    border: 1px solid #CDCFD2;
    box-shadow: inset 0 0 transparent, 0 0 0 0 transparent;
    -moz-box-shadow: inset 0 0 transparent, 0 0 0 0 transparent;
    -webkit-box-shadow: inset 0 0 transparent, 0 0 0 0 transparent;
    color: #898E95;
    fill: #898E95
}
.buttonView:focus,
.buttonView:hover {
    outline: none
}
.buttonView.is-disabled {
    cursor: default
}
.buttonView.buttonView--primary:active,
.buttonView.buttonView--primary.is-active {
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), 0 0 0 0 transparent
}
.buttonView.buttonView--toggle {
    background: #fff;
    border-color: #CDCFD2;
    color: #1B2432
}
.buttonView.buttonView--toggle:not(:first-of-type) {
    border-left-color: transparent
}
.buttonView.buttonView--toggle:active,
.buttonView.buttonView--toggle.is-active {
    background-color: #E8F7FB;
    border-color: #1AAFD0
}
.right-button-icon:not(:empty) {
    margin-left: 5px
}
a,
p a {
    color: #1AAFD0;
    text-decoration: none
}
a.link--secondary,
p a.link--secondary {
    border-bottom: 1px dotted #898E95;
    color: #898E95
}
a.link--secondary:hover,
p a.link--secondary:hover {
    border-bottom-style: solid
}
.    {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    background-color: #fc7279;
    background-image: -webkit-linear-gradient(bottom left, #fc7279 10%, #ff7b9c 65%, #ffc019 125%);
    background-image: linear-gradient(to top right, #fc7279 10%, #ff7b9c 65%, #ffc019 125%);
    min-height: 100vh
}
.dialog--nux-container {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    margin: 0 auto;
    width: 95%
}
@media (min-width: 48em) {
    .dialog--nux-container {
        width: 585px;
    }
}
.dialog--nux-header {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    margin: 45px 0 30px -5px
}
@media (min-width: 48em) {
    .dialog--nux-header {
        margin-top: 15px;
    }
}
.dialog--nux-header p {
    color: #fff;
    margin-top: 5px
}
.dialog--nux-logo {
    width: 120px
}
.dialog--nux-after {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 1 64px;
    -moz-flex: 0 1 64px;
    -ms-flex: 0 1 64px;
    flex: 0 1 64px
}
.dialog--nux-content {
    background-color: #fff;
    border-radius: 3px;
    /*box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);*/
    line-height: 1.5
}
.dialog--nux-content .title,
.dialog--nux-content .subtitle {
    color: #1B2432;
    font-weight: 400;
    text-align: center
}
.dialog--nux-content .title {
    font-family: "haptik", "Helvetica Neue", Arial, sans-serif;
    color: #1B2432;
    line-height: 45px;
    font-size: 40px;
    padding: 45px 30px 30px;
    text-transform: none
}
.dialog--nux-content .title+form .form-input:first-of-type {
    margin-top: 0
}
.dialog--nux-content .title.small-title {
    font-size: 28px;
    line-height: 34px
}
.dialog--nux-inner {
    padding: 0 30px
}
@media (min-width: 48em) {
    .dialog--nux-inner {
        padding: 0 90px;
    }
}
form.dialog--nux-inner {
    padding-bottom: 45px
}
.dialog--nux-seperator {
    color: #B9BCC0;
    font-size: 24px;
    margin: 25px;
    position: relative
}
.dialog--nux-seperator:before,
.dialog--nux-seperator:after {
    border-top: 1px solid #E1E2E4;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 45%;
    z-index: 0
}
.dialog--nux-seperator:before {
    left: auto;
    right: 0
}
.dialog--nux--wordless-seperator {
    border-top: 1px solid #E1E2E4;
    margin-top: 30px
}
.dialog--nux-contents-hidden {
    display: none
}
.dialog--nux-saml-announcment {
    margin-bottom: 30px
}
.dialog--nux-saml-switch-back-link {
    margin-top: 30px
}
.dialog--nux-saml-switch-back-link a {
    border-bottom: 1px dotted #898E95;
    color: #898E95
}
.dialog--nux-saml-switch-back-link a:hover {
    border-bottom: 1px solid #898E95;
    text-decoration: none
}
.dialog--nux-note {
    font-size: 16px;
    margin-bottom: 30px
}
.dialog--nux-confirmation {
    color: #676D76;
    padding-bottom: 30px;
    text-align: center
}
.dialog--nux-recommendedBrowsers {
    margin: 30px auto
}
.dialog--nux-recommendedBrowsers td {
    height: 84px;
    padding-right: 30px;
    text-align: center;
    vertical-align: bottom
}
.dialog--nux-recommendedBrowsers td:last-of-type {
    padding-right: 0
}
.dialog--nux-recommendedBrowsers td img {
    display: block;
    margin-bottom: 10px
}
.dialog--nux-recommendedBrowsers-footnote {
    padding-bottom: 30px
}
.dialog--nux-terms {
    color: #898E95;
    display: block;
    font-size: 12px;
    margin-right: 1em;
    margin-bottom: 15px;
    text-align: center
}
@media (min-width: 30em) {
    .dialog--nux-terms {
        display: inline;
        margin-bottom: 0;
        text-align: right;
    }
}
.dialog--nux-marketing {
    margin: 30px 0
}
.dialog--nux-marketing p {
    margin-bottom: 15px
}
.dialog--nux-marketing ul {
    margin-left: 15px
}
.dialog--nux-marketing li {
    list-style: circle;
    line-height: 1.5;
    text-align: left
}
.dialog--nux-marketing-header {
    font-size: 16px
}
.dialog--nux-oauth {
    margin-top: 30px
}
.dialog--nux-oauth ul {
    line-height: 1.75;
    list-style: inherit;
    margin: 15px 0 15px 15px;
    text-align: left
}
.dialog--nux-oauth button {
    margin-top: 15px
}
.dialog--nux-oauth button+button {
    margin-left: .75em
}
.oauth-permission {
    font-weight: bold
}
.oauth-permission span {
    color: #179DBA
}
.oauth-deauthorize-note {
    color: #898E95
}
.oauth-currentUser {
    color: #898E95;
    margin-top: 15px
}
.oauth-graphic {
    background-size: cover;
    border-radius: 3px;
    float: left;
    height: 50px;
    margin-right: 1em;
    margin-top: -5px;
    width: 50px
}
.oauth-graphic+p {
    text-align: left
}
.form-input {
    margin-top: 30px;
    text-align: left
}
.form-input input,
.form-input select,
.form-input textarea {
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 3px;
    color: #1B2432;
    height: 40px;
    margin: 0;
    padding: 0 0 0 10px;
    width: 100%
}
.form-input input:focus,
.form-input select:focus,
.form-input textarea:focus {
    outline: 0
}
.form-input input[disabled],
.form-input input[disabled]:hover,
.form-input input[disabled]:active,
.form-input input[disabled]:focus,
.form-input select[disabled],
.form-input select[disabled]:hover,
.form-input select[disabled]:active,
.form-input select[disabled]:focus,
.form-input textarea[disabled],
.form-input textarea[disabled]:hover,
.form-input textarea[disabled]:active,
.form-input textarea[disabled]:focus {
    background-color: #F8F8F9;
    border-color: #EFF0F1;
    box-shadow: none;
    cursor: default
}
.form-input input {
    line-height: normal
}
.form-input input:focus {
    /* border-color: #B9BCC0; */
    box-shadow: inset 0px 1px 1px 0px #eff0f1
}
.form-input input[type="checkbox"],
.form-input input[type="radio"],
.form-input input[type="range"],
.form-input input[type="file"],
.form-input input[type="range"],
.form-input input[type="color"] {
    height: auto;
    padding-left: 0;
    width: auto
}
.form-input input[type="checkbox"]:focus,
.form-input input[type="radio"]:focus,
.form-input input[type="range"]:focus,
.form-input input[type="file"]:focus,
.form-input input[type="range"]:focus,
.form-input input[type="color"]:focus {
    border-color: none;
    box-shadow: none;
    outline: none
}
/* .form-input label {
    color: #898E95;
    display: block;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 7px;
    text-transform: capitalize
} */
.form-input--button {
    text-align: right
}
.input--help {
    display: block;
    margin-top: 10px
}
.input--help a {
    border-bottom: 1px dotted #898E95;
    color: #898E95;
    font-size: 12px;
    text-align: left
}
.input--help a:hover {
    border-bottom: 1px solid #898E95;
    text-decoration: none
}
.dialog--nux-footer {
    color: #fff;
    margin-top: 15px
}
.dialog--nux-footer a {
    color: #fff
}
.dialog--nux-footer nav {
    line-height: 2.25
}
.dialog--nux-footer nav a:hover {
    border-bottom: none;
    text-decoration: none
}
.dialog--nux-footer nav a:hover span {
    border-bottom: 1px solid #fff
}
.dialog--nux-footer nav a:after {
    content: "\00b7";
    margin: 0 5px
}
.dialog--nux-footer nav a:last-of-type:after {
    content: ""
}
@media (min-width: 48em) {
    .dialog--nux-footer-left {
        float: left;
    }
}
.dialog--nux-footer-right {
    margin-top: 15px
}
@media (min-width: 48em) {
    .dialog--nux-footer-right {
        float: right;
        margin-top: 0;
    }
}
.dialog--nux-footer-right .buttonView {
    margin-left: 10px
}
.buttonView--center {
    text-align: center
}
.buttonView--default[disabled],
.buttonView--default[disabled]:hover,
.buttonView--default[disabled]:active,
.buttonView--default[disabled]:focus {
    background-color: #EFF0F1;
    border: 1px solid #E1E2E4;
    box-shadow: none;
    color: #B9BCC0;
    cursor: default
}
.buttonView--default.buttonView--background {
    background-color: transparent;
    border-color: #fff;
    color: #fff
}
.buttonView--default.buttonView--background:hover,
.buttonView--default.buttonView--background:focus {
    background-color: #fff;
    border-color: #F0EFFA;
    color: #676D76;
    text-decoration: none
}
.buttonView--default.buttonView--background:active {
    background-color: #EFF0F1;
    box-shadow: inset 0px 1px 0px 0px #e1e2e4
}
.alert {
    background-color: #FFF8E5;
    border-radius: 3px;
    clear: both;
    color: #49505B;
    line-height: 1.25;
    padding: 15px;
    text-align: center
}
.alert a {
    color: #676D76;
    border-bottom: 1px dotted #676D76
}
.alert a:hover {
    border-bottom: 1px solid #676D76;
    text-decoration: none
}
.alert p {
    margin-top: 5px
}
.alert p:first-of-type {
    margin-top: 0
}
.alert strong {
    font-weight: 500
}
.alert--error {
    background-color: #FEEDED
}
.dialog--top-error {
    padding-bottom: 30px
}