@-webkit-keyframes hold-opacity {
    0% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes hold-opacity {
    0% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}
@keyframes hold-opacity {
    0% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes fadeout {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@-moz-keyframes fadeout {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes fadeout {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@-webkit-keyframes reset-opacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@-moz-keyframes reset-opacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@keyframes reset-opacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes grow-1-to-3_5 {
    0% {
        max-height: 1em
    }
    100% {
        max-height: 3.5em
    }
}
@-moz-keyframes grow-1-to-3_5 {
    0% {
        max-height: 1em
    }
    100% {
        max-height: 3.5em
    }
}
@keyframes grow-1-to-3_5 {
    0% {
        max-height: 1em
    }
    100% {
        max-height: 3.5em
    }
}
@-webkit-keyframes input-outline-glow {
    0% {
        border-color: #02CEFF;
        box-shadow: inset 0 0 1px #1AAFD0;
        -moz-box-shadow: inset 0 0 1px #1AAFD0;
        -webkit-box-shadow: inset 0 0 1px #1AAFD0
    }
    40% {
        box-shadow: inset 0 0 2px #1AAFD0;
        -moz-box-shadow: inset 0 0 2px #1AAFD0;
        -webkit-box-shadow: inset 0 0 2px #1AAFD0
    }
    100% {
        border-color: #A1A4AA;
        box-shadow: inset 0 1px 0 #E1E2E4;
        -moz-box-shadow: inset 0 1px 0 #E1E2E4;
        -webkit-box-shadow: inset 0 1px 0 #E1E2E4
    }
}
@-moz-keyframes input-outline-glow {
    0% {
        border-color: #02CEFF;
        box-shadow: inset 0 0 1px #1AAFD0;
        -moz-box-shadow: inset 0 0 1px #1AAFD0;
        -webkit-box-shadow: inset 0 0 1px #1AAFD0
    }
    40% {
        box-shadow: inset 0 0 2px #1AAFD0;
        -moz-box-shadow: inset 0 0 2px #1AAFD0;
        -webkit-box-shadow: inset 0 0 2px #1AAFD0
    }
    100% {
        border-color: #A1A4AA;
        box-shadow: inset 0 1px 0 #E1E2E4;
        -moz-box-shadow: inset 0 1px 0 #E1E2E4;
        -webkit-box-shadow: inset 0 1px 0 #E1E2E4
    }
}
@keyframes input-outline-glow {
    0% {
        border-color: #02CEFF;
        box-shadow: inset 0 0 1px #1AAFD0;
        -moz-box-shadow: inset 0 0 1px #1AAFD0;
        -webkit-box-shadow: inset 0 0 1px #1AAFD0
    }
    40% {
        box-shadow: inset 0 0 2px #1AAFD0;
        -moz-box-shadow: inset 0 0 2px #1AAFD0;
        -webkit-box-shadow: inset 0 0 2px #1AAFD0
    }
    100% {
        border-color: #A1A4AA;
        box-shadow: inset 0 1px 0 #E1E2E4;
        -moz-box-shadow: inset 0 1px 0 #E1E2E4;
        -webkit-box-shadow: inset 0 1px 0 #E1E2E4
    }
}
.buttonView:active,
.buttonView.is-active {
    -webkit-transition: background 200ms, border 200ms, box-shadow 200ms, color 200ms, background 200ms, border 200ms, box-shadow 75ms, color 200ms;
    -moz-transition: background 200ms, border 200ms, box-shadow 200ms, color 200ms, background 200ms, border 200ms, box-shadow 75ms, color 200ms;
    transition: background 200ms, border 200ms, box-shadow 200ms, color 200ms, background 200ms, border 200ms, box-shadow 75ms, color 200ms
}
.buttonView.buttonView--primary:focus,
.buttonView.buttonView--primary:hover {
    background: #062f4f;
    border-color: #062f4f;
    box-shadow: inset 0 0 transparent, 0 0 0 3px #062f4f;
    -moz-box-shadow: inset 0 0 transparent, 0 0 0 3px #062f4f;
    -webkit-box-shadow: inset 0 0 transparent, 0 0 0 3px #062f4f
}
.buttonView.buttonView--primary:active,
.buttonView.buttonView--primary.is-active {
    background: #062f4f;
    border-color: #062f4f
}
.buttonView.buttonView--primary.is-disabled {
    box-shadow: inset 0 0 transparent, 0 0 0 0 transparent;
    -moz-box-shadow: inset 0 0 transparent, 0 0 0 0 transparent;
    -webkit-box-shadow: inset 0 0 transparent, 0 0 0 0 transparent;
    cursor: default
}

.buttonView.buttonView--secondary:active,
.buttonView.buttonView--secondary.is-active {
    background: #F8F8F9;
    border: 1px solid #1AAFD0;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.1), 0 0 0 0 transparent;
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.1), 0 0 0 0 transparent;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.1), 0 0 0 0 transparent;
    color: #1AAFD0;
    fill: #1AAFD0
}
.buttonView.buttonView--secondary.is-disabled {
    border: 1px solid #CDCFD2;
    box-shadow: inset 0 0 transparent, 0 0 0 0 transparent;
    -moz-box-shadow: inset 0 0 transparent, 0 0 0 0 transparent;
    -webkit-box-shadow: inset 0 0 transparent, 0 0 0 0 transparent;
    color: #898E95;
    fill: #898E95
}
.buttonView:focus,
.buttonView:hover {
    outline: none
}
.buttonView.is-disabled {
    cursor: default
}
.buttonView.buttonView--primary:active,
.buttonView.buttonView--primary.is-active {
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), 0 0 0 0 transparent
}
.buttonView.buttonView--toggle {
    background: #fff;
    border-color: #CDCFD2;
    color: #1B2432
}
.buttonView.buttonView--toggle:not(:first-of-type) {
    border-left-color: transparent
}
.buttonView.buttonView--toggle:active,
.buttonView.buttonView--toggle.is-active {
    background-color: #E8F7FB;
    border-color: #1AAFD0
}
.right-button-icon:not(:empty) {
    margin-left: 5px
}
/* a,
p a {
    color: #1AAFD0;
    text-decoration: none
}
a.link--secondary,
p a.link--secondary {
    border-bottom: 1px dotted #898E95;
    color: #898E95
}
a.link--secondary:hover,
p a.link--secondary:hover {
    border-bottom-style: solid
} */
.dialog--nux-seperator {
    color: #B9BCC0;
    font-size: 24px;
    margin: 25px 0px;
    position: relative
}
.dialog--nux-seperator:before,
.dialog--nux-seperator:after {
    border-top: 1px solid #E1E2E4;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 45%;
    z-index: 0
}
.dialog--nux-seperator:before {
    left: auto;
    right: 0
}

/* PROFILE PAGE DESIGING */
.form-input {
    margin-top: 30px;
    text-align: left
}
.form-input input,
.form-input select,
.form-input textarea {
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 3px;
    color: #1B2432;
    height: 40px;
    margin: 0;
    padding: 0 0 0 10px;
    width: 100%
}
.form-input input:focus,
.form-input select:focus,
.form-input textarea:focus {
    outline: 0
}
.form-input input[disabled],
.form-input input[disabled]:hover,
.form-input input[disabled]:active,
.form-input input[disabled]:focus,
.form-input select[disabled],
.form-input select[disabled]:hover,
.form-input select[disabled]:active,
.form-input select[disabled]:focus,
.form-input textarea[disabled],
.form-input textarea[disabled]:hover,
.form-input textarea[disabled]:active,
.form-input textarea[disabled]:focus {
    background-color: #F8F8F9;
    border-color: #EFF0F1;
    box-shadow: none;
    cursor: default
}
.form-input input {
    line-height: normal
}
.form-input input:focus {
    box-shadow: inset 0px 1px 1px 0px #eff0f1
}
.form-input input[type="checkbox"],
.form-input input[type="radio"],
.form-input input[type="range"],
.form-input input[type="file"],
.form-input input[type="range"],
.form-input input[type="color"] {
    height: auto;
    padding-left: 0;
    width: auto
}
.form-input input[type="checkbox"]:focus,
.form-input input[type="radio"]:focus,
.form-input input[type="range"]:focus,
.form-input input[type="file"]:focus,
.form-input input[type="range"]:focus,
.form-input input[type="color"]:focus {
    border-color: none;
    box-shadow: none;
    outline: none
}
.form-input--button {
    text-align: right
}
.buttonView--default[disabled],
.buttonView--default[disabled]:hover,
.buttonView--default[disabled]:active,
.buttonView--default[disabled]:focus {
    background-color: #EFF0F1;
    border: 1px solid #E1E2E4;
    box-shadow: none;
    color: #B9BCC0;
    cursor: default
}
.buttonView--default.buttonView--background {
    background-color: transparent;
    border-color: #fff;
    color: #fff
}
.buttonView--default.buttonView--background:hover,
.buttonView--default.buttonView--background:focus {
    background-color: #fff;
    border-color: #F0EFFA;
    color: #676D76;
    text-decoration: none
}
.buttonView--default.buttonView--background:active {
    background-color: #EFF0F1;
    box-shadow: inset 0px 1px 0px 0px #e1e2e4
}
.google-plus {
    display: inline-block;
  font-size: 24px;
  color: #fff;
  padding: 6px;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 31.33%;
  margin: 0 1%;
    background: #e9544f;
  }
  input#email_input:focus, input#password_input:focus, input#firstnameInput:focus, input#lastnameInput:focus, input#emailInput:focus,
  input#passwordInput:focus, input#confirmpwd:focus {
    border: 1px solid #06ABFF;
}