.Topbar {
    /* background: #000; */
}
.logo__title{
    /* background: #000; */
    color: #3D62A0;
    font-family: esteban
}
.fa-bars:before,
.fa-times:before {
  color: #66B9BF;
}
.menu-item-back {
    background: #66B9BF;
  }

  .menu-item-back:hover {
    /* background: rgb(160, 160, 160); */
    background: #008B95;
  }

  .ivu-poptip-rel:hover {
    /* background: rgb(160, 160, 160); */
    background: #008B95;
  }

  .menu-item:nth-child(3) .menu-item-back {
    transform: rotate(-60deg) skew(-30deg);
    /* background-color: #4a4848; */
    background: #66B9BF;
  }
  .menu-item:nth-child(3) .menu-item-back:hover{
      /* background: rgb(160, 160, 160); */
      background: #008B95;
  }

  .menu-item:nth-child(5) .menu-item-back {
    transform: rotate(60deg) skew(-30deg);
    /* background-color: #4a4848; */
    background: #66B9BF;
  }
  .menu-item:nth-child(5) .menu-item-back:hover{
      /* background: rgb(160, 160, 160); */
      background: #008B95;
  }

  .menu-item:nth-child(7) .menu-item-back {
    transform: rotate(180deg) skew(-30deg);
    /* background-color: #4a4848; */
    background: #66B9BF;
  }

  .menu-item:nth-child(7) .menu-item-back:hover{
      /* background: rgb(160, 160, 160); */
      background: #008B95;
  }

  .ivu-poptip-rel {
    background: #66B9BF;
  }

.navbar-bottom {
    background-color: #EEAA7B;    
}
.navbar-bottom:hover a.active {
  /*background-color: rgba(63, 81, 181, 0.90);*/
  background-color: #e37222;
  color: white;
}
.header-name{
    color: #3D62A0;
    font-family: esteban
}

.navbar-bottom .ivu-select-single .ivu-select-input{
  -webkit-text-fill-color: #fff;
}
.mask {
  background: #07889b;
  border: 1px solid white;
}
.comment-title {
  color: #e37222;
  font-family: esteban
}
.navbar-bottom .due-date:hover {
  background: #e37222;
}
.navbar-bottom a:hover {
  cursor: pointer;
  background: #e37222;
}
.share { 
  background: #07889b
}

.one {
  background: #07889b;
}

.two {
  background: #07889b;
}
#rightContainer:after {
  color:#def2f3
}
.buttonView.buttonView--primary {
  background: #F1B74D;
  border-color: #F1B74D;
}
.buttonView.buttonView--primary:focus,
.buttonView.buttonView--primary:hover {
    background: #B67A0E;
    border-color: #B67A0E;
    box-shadow: inset 0 0 transparent, 0 0 0 3px #B67A0E;
    -moz-box-shadow: inset 0 0 transparent, 0 0 0 3px #B67A0E;
    -webkit-box-shadow: inset 0 0 transparent, 0 0 0 3px #B67A0E
}