
.Topbar {
    /* background: #000; */
}
.logo__title{
    /* background: #000; */
    color: #8D4A00;
    font-family: 'Gotham Rounded SSm A','Gotham Rounded SSm B'
}
.fa-bars:before,
.fa-times:before {
  color: #FA8060;
}
.menu-item-back {
    background: #FA8060;
  }

  .menu-item-back:hover {
    /* background: rgb(160, 160, 160); */
    background: #EC471B;
  }

  .ivu-poptip-rel:hover {
    /* background: rgb(160, 160, 160); */
    background: #EC471B;
  }

  .menu-item:nth-child(3) .menu-item-back {
    transform: rotate(-60deg) skew(-30deg);
    /* background-color: #4a4848; */
    background: #FA8060;
  }
  .menu-item:nth-child(3) .menu-item-back:hover{
      /* background: rgb(160, 160, 160); */
      background: #EC471B;
  }

  .menu-item:nth-child(5) .menu-item-back {
    transform: rotate(60deg) skew(-30deg);
    /* background-color: #4a4848; */
    background: #FA8060;
  }
  .menu-item:nth-child(5) .menu-item-back:hover{
      /* background: rgb(160, 160, 160); */
      background: #EC471B;
  }

  .menu-item:nth-child(7) .menu-item-back {
    transform: rotate(180deg) skew(-30deg);
    /* background-color: #4a4848; */
    background: #FA8060;
  }

  .menu-item:nth-child(7) .menu-item-back:hover{
      /* background: rgb(160, 160, 160); */
      background: #EC471B;
  }

  .ivu-poptip-rel {
    background: #FA8060;
  }

.navbar-bottom {
    background-color: #13A854;    
}
.navbar-bottom:hover a.active {
  /*background-color: rgba(63, 81, 181, 0.90);*/
  background-color: #45B274ad;
  /* color: #747373; */
}
.header-name{
    color: #8D4A00;
    font-family: esteban
}
/* .navbar-bottom a {
    color: #747373;
}
.Topbar-sidebarToggleIcon {
    fill: #747373;
} */
.navbar-bottom .ivu-select-single .ivu-select-input {
    -webkit-text-fill-color : #fff;
}
.mask {
    background: #007849;
    border: 1px solid #747373;
}
.comment-title {
    color: #8D4A00;
    font-family: esteban
  }
  .navbar-bottom .due-date:hover {
    background: #45B274ad;
  }
  .navbar-bottom a:hover {
    cursor: pointer;
    background: #45B274ad;
  }
  .share { 
    background: #EC471B
  }
  
  .one {
    background: #EC471B;
  }
  
  .two {
    background: #EC471B;
  }
  #rightContainer:after {
    color:#dbf2ff
  }
  .buttonView.buttonView--primary {
    background: #176C95;
    border-color: #176C95;
  }
  .buttonView.buttonView--primary:focus,
  .buttonView.buttonView--primary:hover {
      background: #033D59;
      border-color: #033D59;
      box-shadow: inset 0 0 transparent, 0 0 0 3px #033D59;
      -moz-box-shadow: inset 0 0 transparent, 0 0 0 3px #033D59;
      -webkit-box-shadow: inset 0 0 transparent, 0 0 0 3px #033D59;
  }