
.Topbar {
    /* background: #000; */
}
.logo__title{
    /* background: #000; */
    color: #A44563;
    font-family: 'Gotham Rounded SSm A','Gotham Rounded SSm B'
}
.fa-bars:before,
.fa-times:before {
  color: #9ECA76;
}
.menu-item-back {
    background: #9ECA76;
    width: 175px;
    height: 150px;
    position: absolute;
    transform-origin: 0px 150px;
    margin-top: -150px;
    left: 50%;
    top: 50%;
    border: 1px solid whitesmoke;
  }

  .menu-item-back:hover {
    /* background: rgb(160, 160, 160); */
    background: #7A9F35;
  }

  .ivu-poptip-rel:hover {
    /* background: rgb(160, 160, 160); */
    background: #7A9F35;
  }

  .menu-item:nth-child(3) .menu-item-back {
    transform: rotate(-60deg) skew(-30deg);
    /* background-color: #4a4848; */
    background: #9ECA76;
  }
  .menu-item:nth-child(3) .menu-item-back:hover{
      /* background: rgb(160, 160, 160); */
      background: #7A9F35;
  }

  .menu-item:nth-child(5) .menu-item-back {
    transform: rotate(60deg) skew(-30deg);
    /* background-color: #4a4848; */
    background: #9ECA76;
  }
  .menu-item:nth-child(5) .menu-item-back:hover{
      /* background: rgb(160, 160, 160); */
      background: #7A9F35;
  }

  .menu-item:nth-child(7) .menu-item-back {
    transform: rotate(180deg) skew(-30deg);
    /* background-color: #4a4848; */
    background: #9ECA76;
  }

  .menu-item:nth-child(7) .menu-item-back:hover{
      /* background: rgb(160, 160, 160); */
      background: #7A9F35;
  }

  .ivu-poptip-rel {
    background: #9ECA76;
  }

.navbar-bottom {
    background-color: #915693ad;    
}
.navbar-bottom:hover a.active {
  /*background-color: rgba(63, 81, 181, 0.90);*/
  background-color: #915693;
  color: #fff;
}
.header-name{
    color: #A44563;
    font-family: esteban
}

.mask {
    background: #7C8D25;
    border: 1px solid #747373;
}
.comment-title {
    color: #915693;
    font-family: esteban
  }
  .navbar-bottom .due-date:hover {
    background: #915693;
  }
  .navbar-bottom a:hover {
    cursor: pointer;
    background: #915693;
  }
  .share { 
    background: #7C8D25
  }
  
  .one {
    background: #7C8D25;
  }
  
  .two {
    background: #7C8D25;
  }
  .right_pannel::before {
    color:#9ECA76
  }
  .buttonView.buttonView--primary {
    background: #A2B34B;
    border-color: #A2B34B;
  }
  .buttonView.buttonView--primary:focus,
  .buttonView.buttonView--primary:hover {
      background: #7C8D25;
      border-color: #7C8D25;
      box-shadow: inset 0 0 transparent, 0 0 0 3px #7C8D25;
      -moz-box-shadow: inset 0 0 transparent, 0 0 0 3px #7C8D25;
      -webkit-box-shadow: inset 0 0 transparent, 0 0 0 3px #7C8D25
  }