.logo__title{
    color: #8D4A00;
    font-family: 'Gotham Rounded SSm A','Gotham Rounded SSm B'
}
.fa-bars:before,
.fa-times:before {
  color: #FA8060;
}
.menu-item-back {
    background: #FA8060;
  }

  .menu-item-back:hover {
    background: #EC471B;
  }

  .ivu-poptip-rel:hover {
    background: #EC471B;
  }

  .menu-item:nth-child(3) .menu-item-back {
    background: #FA8060;
  }
  .menu-item:nth-child(3) .menu-item-back:hover{
      background: #EC471B;
  }

  .menu-item:nth-child(5) .menu-item-back {
    background: #FA8060;
  }
  .menu-item:nth-child(5) .menu-item-back:hover{
      background: #EC471B;
  }

  .menu-item:nth-child(7) .menu-item-back {
    background: #FA8060;
  }

  .menu-item:nth-child(7) .menu-item-back:hover{
      background: #EC471B;
  }

  .ivu-poptip-rel {
    background: #FA8060;
  }

.navbar-bottom {
    background-color: #13A854;    
}
.navbar-bottom:hover a.active {
  background-color: #45B274ad;
}
.header-name{
    color: #8D4A00;
    font-family: esteban
}
.navbar-bottom .ivu-select-single .ivu-select-input {
    -webkit-text-fill-color : #fff;
}
.mask {
    background: #007849;
    border: 1px solid #747373;
}
  .navbar-bottom .due-date:hover {
    background: #45B274ad;
  }
  .navbar-bottom a:hover {
    cursor: pointer;
    background: #45B274ad;
  }
  .share { 
    background: #EC471B
  }
  
  .one {
    background: #EC471B;
  }
  
  .two {
    background: #EC471B;
  }
  .right_pannel::before {
    color:rgb(255, 209, 197);
  }
  .buttonView.buttonView--primary {
    background: #176C95;
    border-color: #176C95;
  }
  .buttonView.buttonView--primary:focus,
  .buttonView.buttonView--primary:hover {
      background: #033D59;
      border-color: #033D59;
      box-shadow: inset 0 0 transparent, 0 0 0 3px #033D59;
      -moz-box-shadow: inset 0 0 transparent, 0 0 0 3px #033D59;
      -webkit-box-shadow: inset 0 0 transparent, 0 0 0 3px #033D59;
  }