
.Topbar {
    /* background: #000; */
}
.logo__title{
    /* background: #000; */
    color: #ffcc00;
    font-family: 'Gotham Rounded SSm A','Gotham Rounded SSm B'
}
.fa-bars:before,
.fa-times:before {
  color: #0375b4;
  position: relative;
  top: 38%;
  /* left: 42%; */
  transition: opacity 500ms ease-in;
  text-decoration: none;
  z-index: 2;
}
.menu-item-back {
    background: #0375b4;
    width: 175px;
    height: 150px;
    position: absolute;
    transform-origin: 0px 150px;
    margin-top: -150px;
    left: 50%;
    top: 50%;
    border: 1px solid whitesmoke;
  }

  .menu-item-back:hover {
    /* background: rgb(160, 160, 160); */
    background: #0597e8;
  }

  .ivu-poptip-rel:hover {
    /* background: rgb(160, 160, 160); */
    background: #0597e8;
  }

  .menu-item:nth-child(3) .menu-item-back {
    transform: rotate(-60deg) skew(-30deg);
    /* background-color: #4a4848; */
    background: #0375b4;
  }
  .menu-item:nth-child(3) .menu-item-back:hover{
      /* background: rgb(160, 160, 160); */
      background: #0597e8;
  }

  .menu-item:nth-child(5) .menu-item-back {
    transform: rotate(60deg) skew(-30deg);
    /* background-color: #4a4848; */
    background: #0375b4;
  }
  .menu-item:nth-child(5) .menu-item-back:hover{
      /* background: rgb(160, 160, 160); */
      background: #0597e8;
  }

  .menu-item:nth-child(7) .menu-item-back {
    transform: rotate(180deg) skew(-30deg);
    /* background-color: #4a4848; */
    background: #0375b4;
  }

  .menu-item:nth-child(7) .menu-item-back:hover{
      /* background: rgb(160, 160, 160); */
      background: #0597e8;
  }

  .ivu-poptip-rel {
    /* background: #000; */
    background: #0375b4;
    width: 175px;
    height: 150px;
    position: absolute;
    -webkit-transform-origin: 0px 150px;
    transform-origin: 0px 150px;
    margin-top: -150px;
    left: 50%;
    top: 50%;
    border: 1px solid whitesmoke;
  }

.navbar-bottom {
    background-color: #ffcc00;    
}
.navbar-bottom:hover a.active {
  /*background-color: rgba(63, 81, 181, 0.90);*/
  background-color: #d9af04;
  color: white;
}
.header-name{
    color: #ffcc00;
    font-family: esteban
}

.navbar-bottom .ivu-select-single .ivu-select-input{
  background: #ffcc00;
  -webkit-text-fill-color: #fff;
}

.navbar-bottom a {
    color: #747373;
}
.Topbar-sidebarToggleIcon {
    fill: #747373;
}
.navbar-bottom .ivu-select-single .ivu-select-input {
    -webkit-text-fill-color : #747373;
}
.mask {
    background: #007849;
    border: 1px solid #747373;
}