.logo__title{
    color: #668726;
    font-family: 'Gotham Rounded SSm A','Gotham Rounded SSm B'
}
.fa-bars:before,
.fa-times:before {
  color: #D875AD;
}
.menu-item-back {
    background: #D875AD;
  }

  .menu-item-back:hover {
    background: #8A2733;
  }

  .ivu-poptip-rel:hover {
    background: #8A2733;
  }

  .menu-item:nth-child(3) .menu-item-back {
    background: #D875AD;
  }
  .menu-item:nth-child(3) .menu-item-back:hover{
      background: #8A2733;
  }

  .menu-item:nth-child(5) .menu-item-back {
    background: #D875AD;
  }
  .menu-item:nth-child(5) .menu-item-back:hover{
      background: #8A2733;
  }

  .menu-item:nth-child(7) .menu-item-back {
    background: #D875AD;
  }

  .menu-item:nth-child(7) .menu-item-back:hover{
      background: #8A2733;
  }

  .ivu-poptip-rel {
    background: #D875AD;
  }

.navbar-bottom {
    background-color: #8EE079ad;    
}
.navbar-bottom:hover a.active {
  background-color: #347922;
  color: #fff;
}
.header-name{
    color: #668726;
    font-family: esteban
}

.mask {
    background: #7C8D25;
    border: 1px solid #747373;
}
  .navbar-bottom .due-date:hover {
    background: #347922;
  }
  .navbar-bottom a:hover {
    cursor: pointer;
    background: #347922;
  }
.navbar-bottom a {
    color: #000;
}
.Topbar-sidebarToggleIcon {
    fill: #000;
}
.navbar-bottom .ivu-select-single .ivu-select-input {
    -webkit-text-fill-color : #000;
}
  .share { 
    background: #8A2733
  }
  
  .one {
    background: #8A2733;
  }
  
  .two {
    background: #8A2733;
  }
  .right_pannel::before {
    color:rgb(255, 203, 232)
  }
  .buttonView.buttonView--primary {
    background: #742150;
    border-color: #742150;
  }
  .buttonView.buttonView--primary:focus,
  .buttonView.buttonView--primary:hover {
      background: #420E2B;
      border-color: #420E2B;
      box-shadow: inset 0 0 transparent, 0 0 0 3px #420E2B;
      -moz-box-shadow: inset 0 0 transparent, 0 0 0 3px #420E2B;
      -webkit-box-shadow: inset 0 0 transparent, 0 0 0 3px #420E2B
  }